* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    max-width: 60rem;
}

nav, footer {
    background-color: #CDEDF6;
    padding: 0.5rem;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: black;

}

nav {
    margin-top: 1rem;
    font-size: 1.2rem;
}

#main {
    min-height: 86vh;
    padding-top: 2rem;
}

footer {
    alignment: bottom;
}

.page {
    min-height: 100vh;
}

.edge_creator {
    width: 100%;
}
.main_content {
    width: 75%;
}

.new-author-list, .new-book-list {
    display: inline-block;
    width: 100%;
}

.divider {
    padding-top: 2px;
    padding-bottom: 1px;
    width: 100%;
    background-color: dimgray;
    margin-bottom: 0.5rem;
}

.table_entry {
    padding-top: 0.5rem;
}

.first_name, .last_name, .score_title, .book_title, .author {
    font-size: 1.1rem;
}

.book_title, .first_name {
    width: 35%;
}

.last_name, .author {
    width: 49%;
}

.score, .score_title {
    width: 12%;
}

.score_given {
    color: gold;
}

.no_stars {
    color: lightgrey;
}

label {
    font-size: 1.2rem;
}

.input_form {
    margin: auto;
    max-width: 25rem;
}

.form_container {
    margin: auto;
    width: 80%;
    padding: 5px;
}

.form_member {
    width: 50%;
    float: left;
}

.label_container {
    text-align-last: right;
    padding-right: 10px;
    width: 30%;
}

.form_row {
    width: 100%;
    padding-top: 1.7rem;
    padding-right: 2rem;
}

.button_container {
    margin-left: 70%;
    display: inline-grid;
}

input[type=text] {
    height: 1.5rem;
    width: 100%;
}

input[type=submit] {
    margin-top: 1rem;
    padding: 0.3rem;
    background-color: blue;
    color: #CDEDF6;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;

}

input[id=deleteButton] {
    background-color: #BA000D;
}

.author_select {
    width: 100%;
    height: 1.5rem;
}