<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<nav tpl-include="nav.html"></nav>

<br><br>

<div tpl-include="{{ $fileName }}"></div>

</body>
</html>
