<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="styles.css">

    <title></title>
</head>
<body>

<main>

    <div id="author-list">

        <div class="title-cell header-cell">Pealkiri</div>
        <div class="author-cell header-cell">Autorid</div>
        <div class="grade-cell header-cell">Hinne</div>

        <div class="flex-break header-divider"></div>

    </div>
    <div tpl-include="{{ $subPath }}"></div>

</main>

</body>
</html>
