<div tpl-foreach="$books as $book" class="row">
    <div class="book">
        {{ $book->title }}
    </div>
    <div class="authors">
        <span tpl-foreach="$book->authors as $author">
            <span tpl-if="$index !== 0">,</span>
            {{ $author->firstName }} {{ $author->lastName }}
        </span>
    </div>
        <div class="score-empty score">
            <span tpl-foreach="range(1, 5) as $grade">
                <span tpl-if="$book->grade >= $grade" class="score-filled">&#9733;</span>
                <span tpl-if="!($book->grade >= $grade)" class="">&#9733;</span>
            </span>
        </div>


    <div class="flex-break"></div>
</div>