<div id="error-block" tpl-if="$doError">{{ $error }}</div>
<div class="form_container">
    <form id="input_form" method="post" action="../index.php?action=save&type=writer">
        <div class="form_row">
            <div class="label_container form_member">
                <label for="fname">
                    Eesnimi:
                </label>
            </div>
            <div class="input_container form_member">
                <input type="text" id="fname" name="firstName" value="{{$first_name}}">
            </div>
        </div>
        <div class="form_row">
            <div class="label_container form_member">
                <label for="lname">
                    Perenimi:
                </label>
            </div>
            <div class="input_container form_member">
                <input type="text" id="lname" name="lastName" value="{{$last_name}}">
            </div>
        </div>
        <div class="form_row">
            <div class="label_container form_member">
                <label>
                    Hinne:
                </label>
            </div>
            <div class="input_container form_member">
                <span tpl-foreach="range(1, 5) as $grade" class="input-cell">
                    <label for="grade{{ $grade }}">{{ $grade }}</label>
                    <input type="radio"
                           id="grade{{ $grade }}"
                           name="grade"
                           tpl-checked="$grade === $gradeValue"
                           value="{{ $grade }}">
                </span>
            </div>
        </div>
        <input tpl-if="$change || $has_id" type="hidden" value="{{ $id }}" id="id" name="id">
        <div class="form_row">
            <div class="button_container">
                <input type="submit" value="Salvesta" id="submitButton" name="submitButton">
                <input type="submit" value="Kustuta" id="deleteButton" name="deleteButton" tpl-if="$change">
            </div>
        </div>
    </form>
</div>