<div class="body new-book-list table_head">
    <div class="new-book-list first_name">Eesnimi</div>
    <div class="new-book-list last_name">Perekonnanimi</div>
    <div class="new-book-list score_title">Hinne</div>
    <div class="divider"></div>
</div>
<div class="body new-book-list table_entry" tpl-foreach="$authors as $author">
    <div class="new-book-list first_name">
        <a href="index.php?cmd=author-form&action=edit&id={{$author->id}}">
            {{ $author->firstname }}
        </a>
    </div>
    <div class="new-book-list last_name">
        {{ $author->lastname }}
    </div>
    <div class="new-book-list score">
        <span tpl-foreach="range(1, 5) as $grade">
        <span class="score_given" tpl-if="$author->grade >= $grade">★</span>
        <span class="no_stars" tpl-if="!($author->grade >= $grade)">★</span>
    </span>
    </div>
</div>