<div class="body new-book-list table_head">
    <div class="new-book-list book_title">Pealkiri</div>
    <div class="new-book-list author">Autor</div>
    <div class="new-book-list score_title">Hinne</div>
    <div class="divider"></div>
</div>
<div class="body new-book-list table_entry" tpl-foreach="$books as $entry">
    <div class="new-book-list book_title">
        <a href="../index.php?cmd=book-form&action=edit&id={{$entry->id}}">
        {{ $entry->title }}
        </a>
    </div>
    <div class="new-book-list author">{{ $entry->getAuthors() }}</div>
    <div class="new-book-list score">
        <span tpl-foreach="range(1, 5) as $grade">
            <span class="score_given" tpl-if="$entry->grade >= $grade">★</span>
            <span class="no_stars" tpl-if="!($entry->grade >= $grade)">★</span>
        </span>
    </div>
</div>
