<div id="error-block" tpl-if="$doError">{{ $error }}</div>
<div class="form_container">
    <form id="input_form" method="post" action="../index.php?action=save&type=book">
        <div class="form_row">
            <div class="label_container form_member">
                <label for="title">
                    Pealkiri:
                </label>
            </div>
            <div class="input_container form_member">
                <input type="text" id="title" name="title" value="{{$book->title}}">
            </div>
        </div>
        <div class="form_row">
            <div class="label_container form_member">
                <label for="author1">
                    Autor:
                </label>
            </div>
            <div class="input_container form_member">
                <select id="author1" class="author_select" name="author1">
                    <option value="0" tpl-selected="$book->getAuthorIds()[0] == 0"></option>
                    <option tpl-foreach="$authors as $author" tpl-selected="$book->getAuthorIds()[0] == $author->id" value="{{$author->id}}">
                        {{ $author->getFullName() }}</option>
                </select>
            </div>
        </div>
        <div class="form_row">
            <div class="label_container form_member">
                <label for="author2">
                    Autor 2:
                </label>
            </div>
            <div class="input_container form_member">
                <select id="author2" class="author_select" name="author2">
                    <option value="0" tpl-selected="$book->getAuthorIds()[1] == 0"></option>
                    <option tpl-foreach="$authors as $author" tpl-selected="$book->getAuthorIds()[1] == $author->id" value="{{$author->id}}">
                        {{ $author->getFullName() }}</option>
                </select>
            </div>
        </div>
        <div class="form_row">
            <div class="label_container form_member">
                <label>
                    Hinne:
                </label>
            </div>
            <div class="input_container form_member">
                <span tpl-foreach="range(1, 5) as $grade" class="input-cell">
                    <label for="grade{{ $grade }}">{{ $grade }}</label>
                    <input type="radio"
                           id="grade{{ $grade }}"
                           name="grade"
                           tpl-checked="$grade === $book->grade"
                           value="{{ $grade }}">
                </span>
            </div>
        </div>
        <div class="form_row">
            <div class="label_container form_member">
                <label for="isRead">
                    Loetud:
                </label>
            </div>
            <div class="input_container form_member">
                <input name="isRead"
                       id="isRead"
                       tpl-checked="$book->isRead"
                       type="checkbox" />
            </div>
        </div>
        <input tpl-if="$change || $has_id" type="hidden" value="{{ $book->id }}" id="id" name="id">
        <div class="form_row">
            <div class="button_container">
                <input type="submit" value="Salvesta" id="submitButton" name="submitButton">
                <input type="submit" value="Kustuta" id="deleteButton" name="deleteButton" tpl-if="$change">
            </div>
        </div>
    </form>
</div>