<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Raamatud</title>
    <link rel="stylesheet" type="text/css" href="style.css" >
</head>
<body id="{{$page}}">
<table class="edge_creator">
    <tr>
        <td></td>
        <td class="main_content">
            <nav>
                <div>
                    <a href="index.php" id="book-list-link">Raamatud</a>
                    <span>|</span>
                    <a href="index.php?cmd=book-form" id="book-form-link">Lisa raamat</a>
                    <span>|</span>
                    <a href="index.php?cmd=author-list" id="author-list-link">Autorid</a>
                    <span>|</span>
                    <a href="index.php?cmd=author-form" id="author-form-link">Lisa autor</a>
                </div>
            </nav>
            <div tpl-if="$write_message">
                {{ $msg }}
            </div>
            <div tpl-include="{{ $content }}" id="main"></div>
            <footer>Sample text</footer>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>