<h3>{{ $title }}</h3>

<div tpl-if="$error" id="error-block">
    <strong>{{ $message}}</strong>
</div>

<form method="post" action="ex3.php">

    <input type="hidden" name="cmd" value="{{ $cmd }}" >

    <input name="temperature" value="{{ $value }}">

    <input type="submit" name="calculateButton" value="Calculate"/>

</form>

