* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
    color: #333;
    min-width: 30rem;
    max-width: 40rem;

    display: grid;
    min-height: 100vh;
    grid-template-rows: 2.2rem auto 2.2rem;
}

nav, footer {
    border-radius: .25rem;
    background-color: #CDEDF6;
    padding-top: 0.5rem;
    padding-left: 0.5rem;

    border-width: 1px;
    border-style: solid;
    border-color: #C0E0F0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav span {
    padding: 0 0.5rem;
}

main {
    min-height: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.score-filled {
    color: darkorange;
}

.score-empty {
    color: lightgray;
}

#list-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    line-height: 2rem;
}

#list-table tbody tr:first-child td {
    padding-top: 1.4rem;
}

#list-table th {
    line-height: 1rem;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.list-table td {
    padding: 9px 8px 0 8px;
}

td.buttons {
    text-align: right;
}

#message-block, #error-block {
    border-width: 1px;
    border-style: solid;
    border-radius: .25rem;

    line-height: 1.7rem;

    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
}

#message-block {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#error-block {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#author-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    line-height: 2rem;
}

#author-list div:nth-child(4n+1) {
    flex-basis: 37%;
}

#author-list div:nth-child(4n+2) {
    flex-basis: 48%;
}

#author-list div:nth-child(4n+3) {
    flex-basis: 15%;
}
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    line-height: 2rem;
}

.book {
    flex-basis: 37%;
}

.authors {
    flex-basis: 48%;
}

.score {
    flex-basis: 15%;
}
#author-list div.header-divider {
    background-color: #666;
    padding-top: 0.2rem;
    margin-bottom: 0.4rem;
}

#input-form {
    margin: 0 auto;
    padding-top: 2rem;

    display: flex;
    max-width: 28rem;
    flex-wrap: wrap;
}

#input-form .label-cell {
    width: 8rem;
    line-height: 1.9rem;
    text-align: right;
    padding-right: 1rem;
}

#input-form .input-cell {
    line-height: 1.9rem;
}

#input-form .button-cell {
    width: 19rem; /** same as input */
    text-align: right;
    padding-top: 2rem;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

input[type=text], input[type='submit'], select {
    font-size: 0.8rem;
    width: 19rem;
    padding: 0.3rem;
    margin-top: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: .25rem;
 }

input[type='submit'] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 6rem;
    font-size: 1rem;
}

input[type='submit'].danger {
    background-color: #dc3545;
}

input[type='radio'] {
    width: unset;
}

#login-form {
    width: 20rem;
    text-align: right;
    margin: 0 auto;
    padding-right: 5rem;
}

#login-form input {
    width: 10rem;
}

#login-form input[type='submit'] {
    width: 6rem;
}

#log-out-link, #lang-links {
    float: right;
}